.card {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.form-control {
    border-radius: 5px;
}

.login-container {
    margin-top: 0;
    margin-bottom: 80px;

}

.login-image {
    margin-bottom: 0;
}

.login-form {
    margin-left: 0;
}