<ng-container>
    <ul class="nav nav-pills nav-fill gap-2 p-1 small bg-danger rounded-5 shadow-sm" id="pillNav2" role="tablist" style="--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-primary); --bs-nav-pills-link-active-bg: var(--bs-white);">
      <li class="nav-item" role="presentation">
        <a class="nav-link rounded-5" id="home-tab2" routerLink="/" routerLinkActive="active" aria-selected="false" style="background-color: rgba(var(--bs-danger-rgb), var(--bs-bg-opacity)); color: white;">Home</a>
      </li>
      <li class="nav-item" role="presentation">
          <a class="nav-link rounded-5" id="profile-tab2" routerLink="/profile" routerLinkActive="active" aria-selected="true" >Profile</a>
      </li>
      <li class="nav-item" role="presentation">
          <a class="nav-link rounded-5" id="contact-tab2" routerLink="/about" routerLinkActive="active" aria-selected="false" style="background-color: rgba(var(--bs-danger-rgb), var(--bs-bg-opacity)); color: white;">Contact</a>
      </li>
  </ul>  
<!-- profile.component.html -->
<div class="container" style="margin-top: 50px;">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center">
            <h3 class="card-title" style="color: brown;">Alco</h3>
            <p class="card-subtitle mb-2 text-muted">Manufacturing of compound feeds</p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col text-center">
                <img src="assets/Alco111.jpg" class="img-fluid mb-3" alt="Alco Image 1" style="height: 200px;"> <!-- Modifié la hauteur de l'image -->
              </div>
            </div>
            <div class="row">
              <div class="col text-center">
                <img src="assets/Alco222-removebg-preview.png" class="img-fluid mb-3" alt="Alco Image 2" style="height: 200px;"> <!-- Modifié la hauteur de l'image -->
              </div>
            </div>
            <div class="row">
              <div class="col text-center">
                <img src="assets/alco3.jpg" class="img-fluid" alt="Alco Image 3" style="height: 200px;"> <!-- Modifié la hauteur de l'image -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center">
            <h3 class="card-title" style="color: brown;">Sboula</h3>
            <p class="card-subtitle mb-2 text-muted">Transportation or delivery of products</p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col text-center">
                <img src="assets/sboula1.jpg" class="img-fluid mb-3" alt="sboula Image 1" style="height: 200px;"> <!-- Modifié la hauteur de l'image -->
              </div>
            </div>
            <div class="row">
              <div class="col text-center">
                <img src="assets/sboula3.jpg" class="img-fluid mb-3" alt="sboula Image 2" style="height: 200px;"> <!-- Modifié la hauteur de l'image -->
              </div>
            </div>
            <div class="row">
              <div class="col text-center">
                <img src="assets/sboula2.webp" class="img-fluid" alt="sboula Image 3" style="height: 200px;"> <!-- Modifié la hauteur de l'image -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  
</ng-container>

